.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.navbar {
  background-color: turquoise; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #07ccb8;
  color: floralwhite; }
